<a href="https://colab.research.google.com/github/KalidaCh/bsc_dpdm22/blob/main/My_Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#โครงสร้างข้อมูลของ Pandas
1. Series คือ เป็นโครงสร้างข้อมูลแบบ Array 1 มิติ (คอลัมน์เดียว) เก็บข้อมูลต่างชนิดกันได้ ประกอบด้วยท index (ใช้อ้างอิงตำแหน่งข้อมูล) และ Element Value คือ ข้อมูลในแต่ละ index
2. DataFrame คือ เป็นโครงสร้างข้อมูลแบบ Array 2 มิติ (เป็นตาราง 2 คอลัมน์ขึ้นไป) หรือก็คอการนำ Series หลาย ๆ อัน มาเรียงต่อกัน เช่น ข้อมูลคะแนนนักเรียน ข้อมูลสินค้า ข้อมูลประชากร
3. Panel คือ  เป็นโครงสร้างข้อมูลแบบ Array 3 มิติ เป็นการเอา DataFrame หลาย ๆ อันมาซ้อนกันจนเกิดเป็นหลาย ๆ ชั้น มี 3 แกน 
   - แกนที่ 0 DataFrame
   - แกนที่ 1 แถว หรือ index ของแต่ละ DataFrame
   - แกนที่ 2 column ของแต่ละ DataFrame

#สร้าง Series จาก List and Tuple

In [1]:
import pandas as pd
data_ls = [10, 20,'dear',15.5,'เดียร์']
data_tp = [10, 20,'dear',15.5,'เดียร์']
ps = pd.Series(data_ls)
ps = pd.Series(data_tp)
ps

0        10
1        20
2      dear
3      15.5
4    เดียร์
dtype: object

#สร้าง Series จาก Numpy

แปลง list ให้กลายเป็น array

In [2]:
import pandas as pd
import numpy as np
data_ls = [10, 20,'dear',15.5,'เดียร์']
ndata = np.array(data_ls)
ps = pd.Series(ndata)
ps

0        10
1        20
2      dear
3      15.5
4    เดียร์
dtype: object

#สร้าง Series แบบกำหนดหมายเลข index

In [3]:
import pandas as pd
import numpy as np
items = ['เกลิดา','dear','เดียร์']
idx = [1,2,3]
ps = pd.Series(items,index=idx)
ps

1    เกลิดา
2      dear
3    เดียร์
dtype: object

#สร้าง Series จาก Dictionary

In [4]:
import pandas as pd
data = {'dear':50,'kalida':10}
ps=pd.Series(data)
ps

dear      50
kalida    10
dtype: int64

#การเข้าถึงข้อมูลใน Series แบบช่วงข้อมูล Slice

โครงสร้าการเข้าถึง
- ps[start:stop-1]
####สัญลักษณ์
- [:] ทุกอัน
- [2:] index ที่ 2 เป็นต้นไป
- [:2] เริ่มต้นไปจนก่อนถึง index2
- [1:3] เริ่มต้นที่ index 1 ไปจนก่อนถึง index 3

In [5]:
import pandas as pd
ps=pd.Series([10,20,30,40,50,60])

ps[3]

40

In [6]:
ps[:3]

0    10
1    20
2    30
dtype: int64

#การสร้าง DataFrame 
สามารถสร้างได้จาก 
- Tuple และ List
- Series
- Numpy
- CSV

#การสร้าง DataFrame จาก List และ Tuple

In [7]:
import pandas as pd
data_ls = [10,'เกลิดา','dear','เดียร์'] #list
data_tp = [10,'เกลิดา','dear','เดียร์'] #tule
df = pd.DataFrame(data_ls)
df = pd.DataFrame(data_tp)
df

        0
0      10
1  เกลิดา
2    dear
3  เดียร์

#การสร้าง DataFrame แบบกำหนด Culumns

In [9]:
import pandas as pd
data = [15,20,30,35]
cols = ['Age']
df = pd.DataFrame(data,columns=cols)
df

   Age
0   15
1   20
2   30
3   35

#การสร้าง DataFrame จาก List แบบหลายมิติ

In [11]:
import pandas as pd
data = [[15,20,30],['เกลิดา','dear','เดียร์'],[10,20,40]]
cols = ['Age','name','price']
df = pd.DataFrame(data,columns=cols)
df

      Age  name   price
0      15    20      30
1  เกลิดา  dear  เดียร์
2      10    20      40

การสร้าง DataFrame จาก List หลายตัวด้วย zip เป็นการบีบอัดข้อมูล

In [12]:
import pandas as pd
item1 = [15,20,30]
item2 = ['เกลิดา','dear','เดียร์']
item3 = [10,20,40]
data = list(zip(item1,item2,item3))
cols = ['Age','name','price']
df = pd.DataFrame(data,columns=cols)
df

   Age    name  price
0   15  เกลิดา     10
1   20    dear     20
2   30  เดียร์     40